body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 0.5rem;
  background-color: #04aedd;
}

.done {
  text-decoration: line-through;
}

.logo {
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  transition: color 0.25s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.logo:hover {
  color: #1775c2;
}

.logo:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: #1775c2;
}

.navbar li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  padding: 1rem;
}

.input h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  color: #04aedd;
}

input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  font-size: 1em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.todoList li {
  list-style: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todoList li .activity {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.todoList li .timestamp {
  font-size: 0.9em;
  color: #888;
}

.todoList li small {
  font-size: 0.8em;
  color: #888;
}

.hideCompleted button {
  margin: 0 auto;
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: poppins;
  color: #ffffff;
  background-color: #04aedd;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.activity {
  background-color: white;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.activity h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  color: #04aedd;
}

.card {
  padding: 2em;
}

.footer {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #777;
}

/* tablet */
@media (max-width: 1024px) {
  .form,
  .activity,
  .todoList li {
    width: 90%;
    padding: 1rem;
  }

  .todoList li {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* mobile */
@media (max-width: 600px) {
  nav a {
    font-size: 1em;
  }

  .logo {
    font-size: 1.5em;
    padding: 0.5rem;
  }

  form,
  .activity {
    width: 90%;
    padding: 1rem;
  }

  .todoList li {
    padding: 1em;
    font-size: 0.9em;
    flex-direction: column;
    align-items: flex-start;
  }

  input,
  button {
    width: 100%;
    box-sizing: border-box;
  }

  .hideCompleted button {
    width: 100%;
  }

  .footer {
    text-align: center;
  }
}
